body {
    font-family: 'Raleway', sans-serif;
    background:whitesmoke;
    margin:30px;
    width:80%;
    margin:auto;
    position: relative;
}
header {
    padding:1px;
    margin:40px 0px; 
}
header input{
    display:block;
    float:right;
}
input[type="text"]{
    font-size:1.4rem;
    outline:none;
    width:200px;
    padding:2px 10px;
    min-height:auto;
    border:1px solid black;
}

header h1{
    margin:0;
    font-size:1.4rem;
    text-transform:uppercase;
    letter-spacing: 1px;
    float:left;
}
.card{
    display:block;
    width:95%;
    border:2px solid gainsboro;
    border-radius:10px;
    margin:20px;
    padding:10px;
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
}
.text-container{
    margin-left: 10px;
}
.text-container >*{
 margin: 4px 0px;
 
}
.avatar{
    display:block;
    max-width:100%;
    border:1px solid transparent;
    border-radius:50%;
}
.name{
    text-transform: capitalize;
    font-weight:bolder;
    font-size:2rem;
}
.email, .address{
    font-size: 1.4rem;
    color:gray;
    
}
@media(min-width:600px){
    .grid-container{
       display: flex;
       flex-flow:row wrap;
       justify-content:space-around;
       align-items: center;
       
   }
    .card{
        display: flex;
        flex-flow:row  wrap;
        justify-content: space-around;
        align-items: center;
        flex:1 0 250px;
        
    } 
    
    
    
}
.overlay {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(100, 100, 100, 0.4)
}
.modal {
    width:400px;
    min-height:420px;
    margin:20%  auto;
    position: relative;
    text-align: center;
    background: #fff ;
    border: 1px solid #778 ;
    border-radius: 5px ;
    padding: 30px  ;
}
.modal-close {
    position:absolute;
    right:15px ;
    top:5px ;
    cursor:pointer;
}
.hidden,.hide{
    display: none;
}
.modal-content{
    display:flex;
    flex-flow: column wrap;
    align-items:center;
}
.text-container h2 ~ p{
    color:gray;
    font-size:1.4rem;
    letter-spacing: 1.2px;
    padding:2px;
}
.text-container p:nth-of-type(2){
    padding-bottom:20px;
}
.text-container p:nth-of-type(3){
    padding-top:30px;
    border-top:1px solid rgba(128, 128, 128, 0.801);
}
.modal-close{
    background: white;
    border:none;
   font-size:1.4rem;
}
.address{
   text-transform: capitalize; 
}